/* ========== 회원가입 ========= */
/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 1000px;
    background-color: lightgray;
} */

.register-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    width: 650px;
    height: 450px;
    background-color: lightgreen;
}

/* ========== 로고 ========= */
.register-header {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 50px;

    background-color: lightblue;
}
.register-header h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5px;
}


/* ========== 콘텐츠 ========= */
.register-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #bbb;
}
.register-title {}

.register-group {}
.register-username {}
.register-password {}
.register-repassword {}
.register-name {}
.register-email {}

.input-group {}
.register-inputs {}
.register-error {}


/* ========== 정보관리방식 ========= */
.register-footer {}
.register-footer a {}
.register-footer-p1 {}
.register-footer-p2 {}
.register-footer label {}
