<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

</head>

<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <input type="text" class="product-input" value="${responseData.emoMst.emoName}"><br>
    <input type="text" class="product-input" value="4500">
    <!-- <input type="text" class="product-input" placeholder="수량"><br> -->
    <button type="button" class="payment-button">결제하기</button>
    <div class="charge">


    </div>


</body>
<script src="/templates/test/test.js"></script>

</html>