<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/account/register-y.css">
</head>

<body>
    <div class="register-header">
        <h1>kakao</h1>
    </div>
    <div class="register-content">
        <div class="register-content-start">
            <h2>카카오계정<br>서비스 약관에 동의해 주세요.</h2>
            <p><input type="checkbox" id="register-allcheck"><label for="register-allcheck">모두 동의합니다</label></p>
            <span class="span1">전체 동의는 필수 및 선택정보에 대한 동의도 포함되어 있으며,<br> 개별적으로도 동의를 선택하실 수 있습니다.<br>선택항목에 대한 동의를 거부하시는 경우에도 서비스는 이용이 가능합니다.</span>
            <p><input type="checkbox" id="register-check1"><label for="register-check1">만 14세 이상입니다.</label></p>
            <p><input type="checkbox" id="register-check2"><label for="register-check2">[필수] 카카오계정 약관</label></p>
            <p><input type="checkbox" id="register-check3"><label for="register-check3">[필수] 카카오 통합 서비스 약관</label></p>
            <p><input type="checkbox" id="register-check4"><label for="register-check4">[선택] 카카오 알림 채널 추가 및 광고메시지 수신</label></p>
            <span class="span2">본 약관은 회사가 제공하는 카카오,Daum서비스 등에 공통 적용되며,<br>본 약관에 동의함으로써 해당 서비스들을 별도 이용계약 체결 없이 이용할 수 있습니다.</span>
            <p><input type="checkbox" id="register-check5"><label for="register-check5">[필수] 개인정보 수집 및 이용동의</label></p>
            <p><input type="checkbox" id="register-check6"><label for="register-check6">[선택] 위치정보 수집 및 이용동의</label></p>
            <p><input type="checkbox" id="register-check7"><label for="register-check7">[선택] 프로필정보 추가 수집 동의</label></p>
            <button class="register-check-y">동의</button>
        
        </div>
       

    </div>
    <div class="register-footer">
        <a href="https://www.kakao.com/policy/terms?lang=ko">이용약관</a>
        <a href="https://www.kakao.com/policy/privacy?lang=ko">
            <p2>개인정보 처리방침</p2>
        </a>
        <a href="https://www.kakao.com/policy/oppolicy?lang=ko">운영정책</a>
        <a href="https://cs.kakao.com/">고객센터</a>
        <a href="https://www.kakao.com/notices?lang=ko">공지사항</a>
        <label for="">한국어</label>
        <p class="register-footer-p1">Copyright <a href="">© Kakao Corp</a>. All rights reserved.</p>
    </div>
</body>

</html>