<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/icon-up/icon-up.css">
</head>

<body>
    <div class="register-header">
        <h1>kakao</h1>
    </div>
    <div class="register-content">
       <h1>관리자 페이지</h1>
       <div>
        <button class="icon-up">이모티콘 등록</button>
        <button class="icon-edit">이모티콘 수정/삭제</button>
       </div>
    </div>
    <div class="register-footer">
        <a href="https://www.kakao.com/policy/terms?lang=ko">이용약관</a>
        <a href="https://www.kakao.com/policy/privacy?lang=ko">
            <p2>개인정보 처리방침</p2>
        </a>
        <a href="https://www.kakao.com/policy/oppolicy?lang=ko">운영정책</a>
        <a href="https://cs.kakao.com/">고객센터</a>
        <a href="https://www.kakao.com/notices?lang=ko">공지사항</a>
        <label for="">한국어</label>
        <p class="register-footer-p1">Copyright <a href="">© Kakao Corp</a>. All rights reserved.</p>
    </div>
</body>

</html>